*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: gooddognew;
    src: url(../fonts/gooddog-new/gooddog_new-webfont.eot);
    src: url(../fonts/gooddog-new/gooddog_new-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/gooddog-new/gooddog_new-webfont.woff) format("woff"), url(../fonts/gooddog-new/gooddog_new-webfont.ttf) format("truetype"), url(../fonts/gooddog-new/gooddog_new-webfont.svg#GoodDogNewRegular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: gooddogplain;
    src: url(../fonts/gooddog-plain/GoodDog-webfont.eot);
    src: url(../fonts/gooddog-plain/GoodDog-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/gooddog-plain/GoodDog-webfont.woff) format("woff"), url(../fonts/gooddog-plain/GoodDog-webfont.ttf) format("truetype"), url(../fonts/gooddog-plain/GoodDog-webfont.svg#GoodDogRegular) format("svg");
    font-weight: 400;
    font-style: normal
}

button:hover {
    cursor: url(../images/handcursor.png), auto;
}

body {
    cursor: url(../images/cursor.png), auto;
    font-family: gooddognew;
}

/* ================================================ */
/* start screen */
/* ================================================ */


.main-screen,
.options-screen {
    width: 100%;
    height: 100vh;
    background-image: url(../images/startbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    animation: fadeIn 2s ease-in-out;
    width: 550px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.start-screen-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.start-screen-buttons button {
    background-image: url(../images/mBtn_bgd.png);
    background-size: 100% 200%;
    background-position: 0 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
}

.shadow-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-img img {
    width: 150vmax;
    height: 150vmax;
    animation: rotateShadow 60s linear infinite;
    opacity: 1;
}

@keyframes rotateShadow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.start-screen-buttons button:hover {
    background-position: 0 100%;
}



/* ================================================ */
/* options screen */
/* ================================================ */
.options-screen {
    display: none;
    background-image: url(../images/menubg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.options-screen-buttons {
    display: flex;
    gap: 20px;
}

.options-screen-buttons button {
    width: 150px;
    font-family: "Font Awesome 6 Free";
    height: 60px;
    background-image: url(../images/menu-options.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-position: 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #f8f3ef;

}

i {
    font-family: "Font Awesome 6 Free";
}

.options-screen-buttons button:hover {
    background-position: 0 20%;
}

.options-screen-reset button,
.back-button {
    width: 100px;
    height: 100px;
    background-image: url(../images/mBtn_bgd.png);
    background-size: 100% 200%;
    background-position: 0 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-screen-reset button {
    width: 350px;
    height: 150px;
}

.options-screen-reset button:hover,
.back-button:hover {
    background-position: 0 100%;
}

.options-screen-back-button {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.back-button {
    background-image: url(../images/bBtn_bgd.png);
}

/* ================================================ */
/* reset screen */
/* ================================================ */
.reset-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.reset-popup {
    position: relative;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.popup-inner {
    position: absolute;
    top: 20px;
    left: 10px;
    height: 400px;
    width: 550px;
    z-index: 1;
    border-radius: 20px;
}

.reset-content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.reset-question {
    width: 400px;
}

.reset-buttons {
    display: flex;
    gap: 20px;
}

.yes-button,
.no-button {
    width: 200px;
    height: 100px;
    background-image: url(../images/mBtn_bgd.png);
    background-size: 100% 200%;
    background-position: 0 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes-button img,
.no-button img {
    width: 50px;
    height: auto;
}

.yes-button:hover,
.no-button:hover {
    background-position: 0 100%;
}