/* ================================================ */
/* options screen */
/* ================================================ */
.options-screen {
    display: none;
    background-image: url(../images/menubg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.options-screen-buttons,
.states-screen-buttons,
.states-screen-next-buttons {
    display: flex;
    gap: 20px;
}

.options-screen-buttons button,
.states-screen-buttons button,
.states-screen-next-button button {
    width: 150px;
    height: 80px;
    background-image: url(../images/menu-options.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-position: 0 -2%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--main-font-color);
}

.states-screen-next-button button {
    height: 75px;
}

.options-screen-buttons button:hover,
.states-screen-buttons button:hover,
.states-screen-next-button button:hover {
    background-position: 0 19.35%;
    height: 75px;
    scale: 1.1;
}

.options-screen-reset button {
    width: 350px;
    height: 150px;
    background-image: url(../images/mBtn_bgd.png);
    background-size: 100% 200%;
    background-position: 0 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-screen-reset button:hover,
.back-button:hover {
    background-position: 0 100%;
}

.options-screen-back-button,
.level-screen-back-button {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/* ================================================ */
/* reset screen */
/* ================================================ */
.reset-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.reset-popup {
    position: relative;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.popup-inner {
    position: absolute;
    top: 20px;
    left: 10px;
    height: 400px;
    width: 550px;
    z-index: 1;
    border-radius: 20px;
}

.reset-content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.reset-question {
    width: 400px;
}

.reset-buttons {
    display: flex;
    gap: 20px;
}

.yes-button,
.no-button {
    width: 200px;
    height: 100px;
    background-image: url(../images/mBtn_bgd.png);
    background-size: 100% 200%;
    background-position: 0 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes-button img,
.no-button img {
    width: 50px;
    height: auto;
}

.yes-button:hover,
.no-button:hover {
    background-position: 0 100%;
}