/* ================================================ */
/* start screen */
/* ================================================ */

.main-screen {
    width: 100%;
    height: 100vh;
    background-image: url(../images/startbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    animation: fadeIn 2s ease-in-out;
    width: 550px;
}

.start-screen-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.start-screen-buttons button {
    background-image: url(../images/mBtn_bgd.png);
    background-size: 100% 200%;
    background-position: 0 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
}

.start-screen-buttons button:hover {
    background-position: 0 100%;
}