/* ================================================ */
/* states screen */
/* ================================================ */
.states-screen {
    /* display none by default */
    display: block;
    background-image:
        url(../images/levelbg1.jpg),
        url(../images/levelbg1.jpg);
    background-position:
        left top,
        right top;
    background-size:
        50% auto,
        50% auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}

.states-screen-content,
.state-lose,
.state-win,
.state-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
}

.states-screen-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.state-lose-img {
    margin: 25px 0;
}

.state-lose-img img,
.state-win-img img {
    scale: 1.25;
}

.state-win-img img {
    width: 200px;
    height: auto;
}


.star-container {
    display: flex;
    margin: 25px 0;
}

.star {
    width: 65px;
    height: 60px;
    background-image: url(../images/star_result.png);
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-position 0.3s ease;
}

.star-2 {
    transform: translateY(-20px);
}

.stars-1 .star-1 {
    background-position: 0 0;
}

.stars-2 .star-1,
.stars-2 .star-2 {
    background-position: 0 0;
}

.stars-3 .star-1,
.stars-3 .star-2,
.stars-3 .star-3 {
    background-position: 0 0;
}